body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://i.pinimg.com/originals/e1/de/b0/e1deb06a440d4cff23e2e0b3b48de259.png');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  color:#ffffff;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.book {
  color: #ffffff;
  margin: 0 0 2px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}
.logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

body > img {
  margin: 0 10px;
}
